<?xml version="1.0"?>
<configuration>
  <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <linkedConfiguration href="file://c:\Dev16.1.6.config"/>
  </assemblyBinding>-->
  <connectionStrings>
    <add name="MainConnect" connectionString="Data Source=DESKTOP-5BNSDAQ\SQLEXPRESS;Initial Catalog=InPost;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="MainConnectString" value="Data Source=Slon;Initial Catalog=Doc;Integrated Security=True" />
    <add key="Быстрая_печать_карточки" value="false" />
    <add key="Количество_копий_печати" value="1" />
    <add key="Проведение_опроса_количества_карточек" value="false" />
    <add key="Префикс" value="" />
    <add key="Формирование_префикса_через_гриф" value="false" />
    <add key="Год_поиска" value="2016" />
    <add key="Совместно_с_СЭД" value="false" />
    <add key="Режим_отслеживания_судьбы_документа" value="false" />
    <add key="Печать_оборотной_стороный_карточки" value="false" />
    <add key="Показывать_индекс" value="false" />
    <add key="Показывать_вид_документа" value="false" />
    <add key="Показывать_дату_контроля" value="false" />
    <add key="Показывать_комментарии" value="false" />
    <add key="Подсветка_строк" value="false" />
    <add key="Показывать_рабочие_документы" value="false" />
    <add key="Показывать_закрытые_документы" value="false" />
    <add key="Однопользовательский_режим_работы" value="false" />
    <add key="Размер_шрифта_карточки" value="11" />
    <add key="Название_шрифта_карточки" value="Courier New" />
    <add key="Название_шрифта_программы" value="Tahoma" />
    <add key="Размер_шрифта_программы" value="14" />
    <add key="Цвет_подсветки_передачи" value="LightGoldenYellow" />
    <add key="Цвет_подсветки_закрытых" value="LightBlue" />
    <add key="Цвет_подсветки_на_удаление" value="Linen" />
    <add key="Функция_возврата" value="false" />
    <add key="Серверный_режим" value="false" />
    <add key="Режим_просмотра" value="false" />
    <add key="Режим_создания_актов" value="true " />
    <add key="Врменной_интервал_загрузки_документов" value="365" />
    <add key="Цвет_подсвечиваемого_поля" value="PowderBlue" />
    <add key="Сохранять_изменения_грида" value="true" />
    <add key="ШиринаСплитера" value="256" />
    <add key="Печать_жернала" value="false" />
    <add key="Закрытие_карточки_после_печати" value="true" />
    <add key ="Использовать_боковое_меню" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key ="ШиринаМенюОпераций" value="115"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>